<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pigeon</title>
    <link rel="stylesheet" href="style.css">
    <script defer src="https://unpkg.com/peerjs@1.2.0/dist/peerjs.min.js"></script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="script.js" defer></script>
    <script>
        const ROOM_ID = "<% roomId %>"
        console.log(ROOM_ID)
    </script>
</head>
<body>
    <div id="video-grid">

    </div>
    
   
</body>
</html>